# HYPOTHESIS TESTING ASSIGNMENT- Question-1

## ----------------------------------------------------------------------------------------------------------------------------------

## (I) Cutlet Data :

### Statement - A F&B manager wants to determine whether there is any significant difference in the diameter of the cutlet between two units. A randomly selected sample of cutlets was collected from both units and measured? Analyze the data and draw inferences at 5% significance level. Please state the assumptions and tests that you carried out to check validity of the assumptions.

###  Assumption : 
#### H0 be Null hypothesis where µ1 = µ2 .
#### H1 be Alternate hypothesis where µ1 ≠ µ2 .

### Hypothesis Formulation :

#### H0 : There is no significant difference in the diameter of the cutlet between two units.
#### Ha : There is a significant difference in the diameter of the cutlet between two units.

### Import Libraries

In [1]:
import pandas as pd
import numpy as np

### Importing dataset :

In [2]:
cutlet_data = pd.read_csv('Cutlets.csv',sep=',')
cutlet_data

    Unit A  Unit B
0   6.8090  6.7703
1   6.4376  7.5093
2   6.9157  6.7300
3   7.3012  6.7878
4   7.4488  7.1522
5   7.3871  6.8110
6   6.8755  7.2212
7   7.0621  6.6606
8   6.6840  7.2402
9   6.8236  7.0503
10  7.3930  6.8810
11  7.5169  7.4059
12  6.9246  6.7652
13  6.9256  6.0380
14  6.5797  7.1581
15  6.8394  7.0240
16  6.5970  6.6672
17  7.2705  7.4314
18  7.2828  7.3070
19  7.3495  6.7478
20  6.9438  6.8889
21  7.1560  7.4220
22  6.5341  6.5217
23  7.2854  7.1688
24  6.9952  6.7594
25  6.8568  6.9399
26  7.2163  7.0133
27  6.6801  6.9182
28  6.9431  6.3346
29  7.0852  7.5459
30  6.7794  7.0992
31  7.2783  7.1180
32  7.1561  6.6965
33  7.3943  6.5780
34  6.9405  7.3875

### Initial Analysis :

In [3]:
cutlet_data.shape

(35, 2)

In [4]:
cutlet_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 35 entries, 0 to 34
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Unit A  35 non-null     float64
 1   Unit B  35 non-null     float64
dtypes: float64(2)
memory usage: 688.0 bytes

In [5]:
cutlet_data.describe()

          Unit A     Unit B
count  35.000000  35.000000
mean    7.019091   6.964297
std     0.288408   0.343401
min     6.437600   6.038000
25%     6.831500   6.753600
50%     6.943800   6.939900
75%     7.280550   7.195000
max     7.516900   7.545900

### Statistic Test :

#### We can apply  Two sample T-test  for the above hypothesis.

In [6]:
cutlet_data.mean()

Unit A    7.019091
Unit B    6.964297
dtype: float64

In [7]:
from scipy import stats

In [8]:
# 2-sample 2-tail ttest or independent test :  
# **Syntax :- stats.ttest_ind(array1,array2)**

print('2-sample 2- tail test')
print('-------------------------\n')
stats_value,pvalue= stats.ttest_ind(cutlet_data['Unit A'],cutlet_data['Unit B'])
print('Statistical value :',stats_value)
print('P-value           :',pvalue)

2-sample 2- tail test
-------------------------

Statistical value : 0.7228688704678063
P-value           : 0.4722394724599501

### P-value check for hypothesis testing :

#### Now comparing the p-value at 5% significance level i.e. (P < 0.05) or (P >0.05) for hypothesis test.

In [16]:
#level of significance is 5%, i.e. At 5% level of significance do we reject or do not reject ?

if pvalue < 0.05:
    print('We can reject the null hypothesis and claim that there is significant difference in the diameter of the cutlet between the two units.')
else:
    print('We do not reject the null hypothesis and claim that there is no significant difference in the diameter of the cutlet between the two units.')

We do not reject the null hypothesis and claim that there is no significant difference in the diameter of the cutlet between the two units.