# Hypothesis_Testing_Assignment_Question-3

## (III) Buyer's Ration

### Statement : Sales of products in four different regions is tabulated for males and females. Find if male-female buyer rations are similar across regions.

### Hypothesis Formulation :

#### H0 :  There is significance in proportion of males and females in all the regions .i.e All the proportions are equal.
#### Ha :  There is no significance in proportion of males and females in all the regions .i.e Not all the proportions are equal.

### Importing libraries :

In [1]:
import pandas as pd
import numpy as np

### Importing dataset :

In [12]:
buyer_ration_dataset = pd.read_csv('BuyerRatio.csv',sep=',')
buyer_ration_dataset

  Observed Values  East  West  North  South
0           Males    50   142    131     70
1         Females   435  1523   1356    750

### Initial Analysis :

In [13]:
buyer_ration_dataset.shape

(2, 5)

In [14]:
buyer_ration_dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2 entries, 0 to 1
Data columns (total 5 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Observed Values  2 non-null      object
 1   East             2 non-null      int64
 2   West             2 non-null      int64
 3   North            2 non-null      int64
 4   South            2 non-null      int64
dtypes: int64(4), object(1)
memory usage: 208.0+ bytes

In [15]:
buyer_ration_dataset.isna().sum()

Observed Values    0
East               0
West               0
North              0
South              0
dtype: int64

In [16]:
buyer_ration_dataset.describe()

             East         West        North       South
count    2.000000     2.000000     2.000000    2.000000
mean   242.500000   832.500000   743.500000  410.000000
std    272.236111   976.514465   866.205807  480.832611
min     50.000000   142.000000   131.000000   70.000000
25%    146.250000   487.250000   437.250000  240.000000
50%    242.500000   832.500000   743.500000  410.000000
75%    338.750000  1177.750000  1049.750000  580.000000
max    435.000000  1523.000000  1356.000000  750.000000

### Statistic test :

#### We can perform Chi-square test for independence is often used to examine independence between two categorical variables.

In [6]:
from scipy import stats

#### ** We cannot perfom chi square test directly on the 'buyers_ratio_dataset' because it has object values. So we have to create an observation table array.

In [7]:
observation_table_array=([[50,142,131,70],[435,1523,1356,750]])
observation_table= pd.DataFrame(observation_table_array,index=['Male','Female'],columns=['East','West','North','South'])
observation_table

        East  West  North  South
Male      50   142    131     70
Female   435  1523   1356    750

In [9]:
# Chi 2 square test:
# Syntax - stats.chi2_contingency(observed)

print('Chi 2 square test')
print('------------------------\n')
chi2_value,pvalue,dof,expected_table =stats.chi2_contingency(observed= observation_table)
print('Chi-squared value  :',chi2_value)
print('P-value            :',pvalue)
print('Degrees of freedom :',dof)
print('Expected table     :\n',expected_table)

Chi 2 square test
------------------------

Chi-squared value  : 1.595945538661058
P-value            : 0.6603094907091882
Degrees of freedom : 3
Expected table     :
 [[  42.76531299  146.81287862  131.11756787   72.30424052]
 [ 442.23468701 1518.18712138 1355.88243213  747.69575948]]

### P-value check for hypothesis testing :

In [11]:
# Assume alpha value be 0.05.

if pvalue < 0.05:
    print('We can reject the null hypothesis and claim that there is no significant in proportions of males and females i.e. Not all proportions are equal')
else:
    print('We do not reject the null hypothesis and claim that there is significant in proportions of males and females i.e. All proportions are equal')

We do not reject the null hypothesis and claim that there is significant in proportions of males and females i.e. All proportions are equal