# Hypothesis_Testing_Assignment_Question-4

## (IV) Telecall Customer data

### Statement : TeleCall uses 4 centers around the globe to process customer order forms. They audit a certain %  of the customer order forms. Any error in order form renders it defective and has to be reworked before processing.  The manager wants to check whether the defective %  varies by centre. Please analyze the data at 5% significance level and help the manager draw appropriate inferences.

### Hypothesis Formulation :

#### H0 : There is no error in the order forms and defective percentage does not varies by centre.
#### Ha:  There is error in the order forms and defective percentage varies by centre.

### Import Libraries :

In [1]:
import pandas as pd
import numpy as np

### Import dataset :

In [2]:
telecall_customer_dataset = pd.read_csv('Costomer+OrderForm.csv',sep=',')
telecall_customer_dataset

    Phillippines   Indonesia       Malta       India
0     Error Free  Error Free   Defective  Error Free
1     Error Free  Error Free  Error Free   Defective
2     Error Free   Defective   Defective  Error Free
3     Error Free  Error Free  Error Free  Error Free
4     Error Free  Error Free   Defective  Error Free
..           ...         ...         ...         ...
295   Error Free  Error Free  Error Free  Error Free
296   Error Free  Error Free  Error Free  Error Free
297   Error Free  Error Free   Defective  Error Free
298   Error Free  Error Free  Error Free  Error Free
299   Error Free   Defective   Defective  Error Free

[300 rows x 4 columns]

### Initial Analysis :

In [3]:
telecall_customer_dataset.shape

(300, 4)

In [4]:
telecall_customer_dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 300 entries, 0 to 299
Data columns (total 4 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Phillippines  300 non-null    object
 1   Indonesia     300 non-null    object
 2   Malta         300 non-null    object
 3   India         300 non-null    object
dtypes: object(4)
memory usage: 9.5+ KB

In [5]:
telecall_customer_dataset.isna().sum()

Phillippines    0
Indonesia       0
Malta           0
India           0
dtype: int64

In [6]:
telecall_customer_dataset.describe()

       Phillippines   Indonesia       Malta       India
count           300         300         300         300
unique            2           2           2           2
top      Error Free  Error Free  Error Free  Error Free
freq            271         267         269         280

### Statistic test :

#### We select Chi-square test for independence is often used to examine independence between two categorical variables as the dataset is nominal data set.

#### We need to frame the observation table for Chi-square test.

In [8]:
telecall_customer_dataset['Phillippines'].value_counts()

Error Free    271
Defective      29
Name: Phillippines, dtype: int64

In [10]:
telecall_customer_dataset['Indonesia'].value_counts()

Error Free    267
Defective      33
Name: Indonesia, dtype: int64

In [11]:
telecall_customer_dataset['Malta'].value_counts()

Error Free    269
Defective      31
Name: Malta, dtype: int64

In [12]:
telecall_customer_dataset['India'].value_counts()

Error Free    280
Defective      20
Name: India, dtype: int64

#### Now framing these above values to a observation table array.

In [15]:
observation_table_array = np.array([[271,267,269,280],[29,33,31,20]])
observation_table = pd.DataFrame(observation_table_array,index=['Error Free','Defective'],columns=['Phillippines','Indonesia','Malta','India'])
observation_table

            Phillippines  Indonesia  Malta  India
Error Free           271        267    269    280
Defective             29         33     31     20

In [17]:
from scipy import stats

In [18]:
# Chi 2 square test:
# Syntax - stats.chi2_contingency(observed)

print('Chi 2 square test')
print('------------------------\n')
chi2_value,pvalue,dof,expected_table =stats.chi2_contingency(observed= observation_table)
print('Chi-squared value  :',chi2_value)
print('P-value            :',pvalue)
print('Degrees of freedom :',dof)
print('Expected table     :\n',expected_table)

Chi 2 square test
------------------------

Chi-squared value  : 3.858960685820355
P-value            : 0.2771020991233135
Degrees of freedom : 3
Expected table     :
 [[271.75 271.75 271.75 271.75]
 [ 28.25  28.25  28.25  28.25]]

### P-value check for hypothesis :

In [20]:
#level of significance is 5%, i.e. At 5% level of significance do we reject or do not reject ?
if pvalue<0.05:
    print('We can reject the null hypothesis and we can claim that there is error in the order form and defective percentage varies by centre')
else:
    print('We cannot reject the null hypothesis and we can claim that there is no error in the order form and defective percentage does not varies by centre')

We cannot reject the null hypothesis and we can claim that there is no error in the order form and defective percentage does not varies by centre